<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block body %}

<body>
    <p>Hi, {{ name }}! This is your account page.</p>
    <!-- JS Popper -->
    {% if (current_user.user_type == "OU") %}
    <a href="{{ url_for('submitItem') }}" class="btn btn-primary accountBtn">Submit Item</a>
    <a href="{{ url_for('fileComplaint') }}" class="btn btn-primary accountBtn">File a Complaint</a>
    <a href="{{ url_for('ratePage') }}" class="btn btn-primary accountBtn">Rate</a>
    <a href="{{ url_for('OUcomplaint') }}" class="btn btn-primary accountBtn">Complaint History</a>
    <a href="{{ url_for('OUitems') }}" class="btn btn-primary accountBtn">Your Items Pending Approval</a>
    {% else %}
    <a href="{{ url_for('showItems') }}" class="btn btn-primary accountBtn">Approve Items</a>
    <a href="{{ url_for('showComplaints') }}" class="btn btn-primary accountBtn">Settle Complaints</a>
    <a href="{{ url_for('showUsers') }}" class="btn btn-primary accountBtn">Remove Users</a>
    {% endif %}
</body>
{% endblock %}

</html>