<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block body %}

<body>
    
    <!-- JS Popper -->
    {% if (current_user.user_type == "OU") %}
    <div>
        <form>
            <div class="mb-3">
              <label for="Title" class="form-label">Title</label>
              <input type="text" class="form-control" id="InputTitle" aria-describedby="TitleHelp">
              
            </div>
            <div class="mb-3">
              <label for="InputIMGAddress" class="form-label">Image Address</label>
              <input type="text" class="form-control" id="IMGAddress">
            </div>
            <div class="mb-3">
                <label for="InputKeyWords" class="form-label">Key Words</label>
                <input type="text" class="form-control" id="keyWords">
            </div>
            <div class="mb-3">
                <label for="timeLimit" class="form-label">Time Limit</label>
                <input type="date" class="form-control" id="timeLimit">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    
    {% else %} <p>
        youre not an OU
        </p>

    <div>
        <a href="{{ url_for('accountPage') }}" class="btn btn-primary accountBtn">{{ current_user.username }}'s Account</a>
        <a href = "{{ url_for('logout') }}" type="button" class="btn btn-outline-primary">Log out</a>
    </div>
    {% endif %}
</body>
{% endblock %}

</html>